
.App {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.Button {
  height: 50px;
  width: 50px;
  margin: 15px;
  border: 0px;
  background-color: aquamarine;
  border-radius: 25px;
  font-size: 20px;
}

.Text-entry {
  height: 35px;
  border: 0px;
  border-radius: 5px;
  background-color: aliceblue;
  margin: 15px;
}

.Splash {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}




